MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=root
MYSQLDB_DATABASE=spring_boot_cms
MYSQLDB_LOCAL_PORT=3307
MYSQLDB_DOCKER_PORT=3306

SPRING_LOCAL_PORT=6868
SPRING_DOCKER_PORT=8080

CMS_JWT_SECRET=ChangeThisJwtSecretToAStrongValueWithAtLeast32Characters
CMS_JWT_EXPIRATION_MS=3600000
